<div class="container-fluid">
  <!-- start page title -->

  <!-- end page title -->

  <div class="row">
    <div class="col-12">
      <div class="dashboard-panel">
        <h2 class="dashboard-title">Totales</h2>

        <div class="dashboard-row">
          <div class="dashboard-item bg-a">
            <i class="fas fa-industry"></i>
            <span class="label">Cadenas</span>
            <span class="value">10</span>
          </div>
          <div class="dashboard-item bg-b">
            <i class="fas fa-store"></i>
            <span class="label">Salas</span>
            <span class="value">67</span>
          </div>
          <div class="dashboard-item bg-c">
            <i class="fas fa-gamepad"></i>
            <span class="label">Máquinas</span>
            <span class="value">9800</span>
          </div>
          <div class="dashboard-item bg-d">
            <i class="fas fa-users"></i>
            <span class="label">Usuarios</span>
            <span class="value">35</span>
          </div>
        </div>

        <div class="dashboard-row">
          <div class="dashboard-item bg-e">
            <i class="fas fa-user"></i>
            <span class="label">Clientes</span>
            <span class="value">1900</span>
          </div>
          <div class="dashboard-item bg-f">
            <i class="fas fa-credit-card"></i>
            <span class="label">Monederos</span>
            <span class="value">2500</span>
          </div>
          <div class="dashboard-item bg-g">
            <i class="fas fa-wallet"></i>
            <span class="label">Saldo no debitado</span>
            <span class="value">$180000.0</span>
          </div>
          <div class="dashboard-item bg-h">
            <i class="fas fa-gift"></i>
            <span class="label">Premios entregados</span>
            <span class="value">$23000.0</span>
          </div>
        </div>
      </div>
    </div>

  </div>
</div> <!-- container-fluid -->