@import "~@ng-select/ng-select/themes/default.theme.css";

// flatpicker
@import '~flatpickr/dist/flatpickr.css';

// Rating

.dx-pager .dx-page-sizes .dx-selection, .dx-pager .dx-pages .dx-selection {
    cursor: inherit;
    text-shadow: none;
    color: #fff;
    border-color: transparent;
    background-color: #ab0033;
}

.stars {
    font-size: 30px;
    color: var(--bs-gray);
}

.star {
    position: relative;
    display: inline-block;
}

.star_fill {
    color: var(--bs-gray);
}

.full {
    color: #b0c4de;
}

.half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: var(--bs-gray);
}

.filled {
    color: #1e90ff;
}

.bad {
    color: #deb0b0;
}

.filled.bad {
    color: #ff1e1e;
}

.halfHeart {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: red;
}


// File Upload
.dropzone_sec {
    border: 2px dashed #e2e5e8 !important;
}

.dropzone .dz-message {
    font-size: 24px;
    min-height: 150px !important;
    border: none !important;
    background: transparent !important;
    color: var(--bs-gray-400) !important;
}

.dropzone {
    border: 2px dashed var(--bs-border-color) !important;
}

dropzone>.dropzone.dz-wrapper {
    border: none !important;
}

// Range Slider
.ng5-slider .ng5-slider-pointer {
    cursor: pointer;
    width: 20px !important;
    height: 20px !important;
    top: -8px !important;
    background-color: #5b73e8 !important;
    z-index: 3;
    border-radius: 16px;
}

.ng5-slider .ng5-slider-pointer:after {
    display: none !important;
}

.ng5-slider .ng5-slider-selection {
    background: #5b73e8 !important;
}

body[data-bs-theme=dark] {
    .dropzone {
        background: transparent;
    }

    .ng5-slider .ng5-slider-bar {
        background: var(--bs-gray-300);
    }

    .accordion-button:not(.collapsed) {
        background-color: transparent !important;
    }

    // Select 2
    .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
        background-color: #253a55 !important;
        color: #8495ab !important;
    }

    .ng-select .ng-select-container {
        background-color: var(--bs-input-bg) !important;
        border: 1px solid var(--bs-input-border-color);
        color: var(--bs-body-color);
    }

    .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected,
    .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
        background-color: var(--bs-gray-100);
        color: var(--bs-body-color);
    }

    .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
        background-color: var(--bs-input-bg);
        color: var(--bs-body-color);
    }

    .ng-dropdown-panel {
        border: 1px solid var(--bs-gray-100);
    }

    // Sweet alert
    .swal2-popup {
        background: var(--bs-input-bg);
        color: var(--bs-body-color);
    }
}

// scroll bar
.simplebar-scrollbar:before {
    width: 100%;
    background: #a2adb7 !important;
}


// timeline

.hori-timeline{
    .owl-nav{
        .owl-prev,.owl-next{
            background-color: rgba(91,115,232,.25)!important;
            color: #5b73e8!important;
            border-radius: 50%;
        }
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.title-banner-card {
  background: #0d121d;
  border-radius: 18px;
  padding: 30px 40px;
  color: #ffffff;
  border: none !important;
  font-family: 'Poppins', sans-serif;

  .title-banner-content {
    flex-wrap: wrap;
  }

  .title-icon {
    background-color: #e40041;
    border-radius: 12px;
    padding: 18px;
    font-size: 28px;
    box-shadow: 0 0 10px rgba(255, 45, 117, 0.4);
    color: #ffffff;
  }

  .title-title {
    margin: 0;
    font-size: 22px;
    font-weight: 600;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    padding-bottom: 4px;
  }

  .title-subtitle {
    margin: 4px 0 0;
    font-size: 14px;
    color: #cfcfcf;
  }

  .title-tagline {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 14px;
    color: #bbbbbb;
    margin-top: 15px;

    .line {
      width: 30px;
      height: 3px;
      background-color: #e40041;
      border-radius: 3px;
    }

    .text {
      font-weight: 500;
    }
  }
}